<section class="contacts">
    <div class="contacts__container">
    <h2 class="contacts__title">location</h2>
    <ul class="contacts__cardlist">
        <li class="cardlist__item">
            <h3 class="cardlist__title">
                CAFE
            </h3>            
            <div class="cardlist__wrapper">
                <h4 class="cardlist__subtitle">Chicago</h4>
                <p class="cardlist__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </div>
            <div class="cardlist__wrapper">
               <ul class="cardlist__workingtimes">
                   <li class="workingtimes__item">
                       <h4 class="workingtimes__days">Monday - Friday</h4>
                       <p class="workingtimes__times">06:00 AM - 10:00 PM</p>
                    
                   </li>
                   <li class="workingtimes__item">
                       <h4 class="workingtimes__days">Saturday - Sunday</h4>
                       <p class="workingtimes__times">08:00 AM - 16:00 PM</p>
                   </li>
               </ul>
            </div>
            <div class="cardlist__wrapper">
                <ul class="cardlist__contacts">
                    <li class="contacts__item">
                        <a class="contacts__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
                    </li>
                    <li class="contacts__item">
                        <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="cardlist__item">
            <h3 class="cardlist__title cardlist__title--green">
                FOOD TRUCK
            </h3>            
            <div class="cardlist__wrapper">
                <h4 class="cardlist__subtitle">Los Angeles</h4>
                <p class="cardlist__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </div>
            <div class="cardlist__wrapper">
               <ul class="cardlist__workingtimes">
                   <li class="workingtimes__item">
                       <h4 class="workingtimes__days">Monday - Friday</h4>
                       <p class="workingtimes__times">06:00 AM - 10:00 PM</p>
                    
                   </li>
                   <li class="workingtimes__item">
                       <h4 class="workingtimes__days">Saturday - Sunday</h4>
                       <p class="workingtimes__times">08:00 AM - 16:00 PM</p>
                   </li>
               </ul>
            </div>
            <div class="cardlist__wrapper">
                <ul class="cardlist__contacts">
                    <li class="contacts__item">
                        <a class="contacts__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
                    </li>
                    <li class="contacts__item">
                        <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="cardlist__item">
            <h3 class="cardlist__title">
                CAFE
            </h3>            
            <div class="cardlist__wrapper">
                <h4 class="cardlist__subtitle">New York</h4>
                <p class="cardlist__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </div>
            <div class="cardlist__wrapper">
               <ul class="cardlist__workingtimes">
                   <li class="workingtimes__item">
                       <h4 class="workingtimes__days">Monday - Friday</h4>
                       <p class="workingtimes__times">06:00 AM - 10:00 PM</p>
                    
                   </li>
                   <li class="workingtimes__item">
                       <h4 class="workingtimes__days">Saturday - Sunday</h4>
                       <p class="workingtimes__times">08:00 AM - 16:00 PM</p>
                   </li>
               </ul>
            </div>
            <div class="cardlist__wrapper">
                <ul class="cardlist__contacts">
                    <li class="contacts__item">
                        <a class="contacts__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
                    </li>
                    <li class="contacts__item">
                        <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>
            </div>
        </li>        

    </ul>
    <ul class="contacts__buttonlist">
        <li class="buttonlist__item" >
            <button aria-label="opens modal window" class="buttonlis__locations" data-open-modal> Our Locations 
                <svg class="buttonlis__icon">
                    <use href="./images/icons.svg#arrow-white">
                </svg>
            </button>
        </li>
        <li class="buttonlist__item">
            <button aria-label="opens franchise modal window" class="buttonlis__franchise" >
                Franchise
                <svg class=" buttonlis__icon--red ">
                    <use href="./images/icons.svg#arrow-red"></use>
                </svg>
            </button>
        </li>
    </ul>
</div>
<div  class="backdrop backdrop is-hidden" data-backdrop>
    <div class="backdrop__modal">
 <img src="./images/map3.jpg" width="280" alt="maps">
         <button class="modal__close" data-close-modal aria-label="Map close button">
            Close
        </button>
    </div>
</div>
</section>
<script>
    const refs = {
        openModalBtn: document.querySelector('[data-open-modal]'),
        closeModalBtn: document.querySelector('[data-close-modal]'),
        backdrop: document.querySelector('[data-backdrop]'),
    };

    refs.openModalBtn.addEventListener('click', toggleModal);
    refs.closeModalBtn.addEventListener('click', toggleModal);


    function toggleModal() {
        refs.backdrop.classList.toggle('is-hidden');
    }

</script>