
<section class="products">
    <div class="container">

        <p class="products__suptitle">100% natural</p>
        <h2 id="products" class="products__title">Products</h2>
        <ul class="products__list list">
            <li class="products__item">
                <div class="product-icecream">

                    <h3 class="product__sub-header">Ice Cream</h3>

                    <svg class="product__icon--dots">
                        <use href="./images/icons.svg#dot_3"></use>
                    </svg>
                    <p class="product_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod
                        tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
                    <div class="product__link--wrap">
                        <a class="product__link link" href="">
                            <svg class="product__icon">
                                <use href="./images/icons.svg#arrow_right_long"></use>
                            </svg>
                            <div class="products__overlay">
                                <p class="products__popup">
                                    One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible
                                    vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly.
                                </p>
                            </div>
                        </a>
                        </div>
                </div>
            </li>

            <li class="products__item">
                <div class="product-icecoffee">

                    <h3 class="product__sub-header">Ice Coffee</h3>

                    <svg class="product__icon--dots">
                        <use href="./images/icons.svg#dot_3"></use>
                    </svg>
                    <p class="product_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod
                        tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
                    <div class="product__link--wrap">
                        <a class="product__link link" href="">
                            <svg class="product__icon">
                                <use href="./images/icons.svg#arrow_right_long"></use>
                            </svg>
                            <div class="products__overlay">
                                <p class="products__popup2">
                                    One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible
                                    vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly.
                                </p>
                            </div>
                        </a>
                        </div>
                </div>
            </li>

            <li class="products__item">
                <div class="product-milkshakes">

                    <h3 class="product__sub-header">Milkshakes</h3>

                    <svg class="product__icon--dots">
                        <use href="./images/icons.svg#dot_3"></use>
                    </svg>
                    <p class="product_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod
                        tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
                    <div class="product__link--wrap">
                        <a class="product__link link" href="">
                            <svg class="product__icon">
                                <use href="./images/icons.svg#arrow_right_long"></use>
                            </svg>
                            <div class="products__overlay">
                                <p class="products__popup3">
                                    One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible
                                    vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly.
                                </p>
                            </div>
                        </a>
                        </div>
                </div>
            </li>

        </ul>
    </div>
</section>