// // <--доп клас для анимации вложеность-->
// ._anim-show{
//   transform: translate(0px, 120%);
//   opacity: 0;
//   transition: all 0.8s ease 0s;
// }
// ._anim-show ._active,
// ._active ._anim-show{
//   opacity: 1;
//   transform: translate(0px, 0px);
// }

// // <--доп клас для анимации вложеность-->

// .gallery {
//   position: relative;
//   background: linear-gradient(to bottom, #fff5f6 45%, #ffffff 45%);
//   padding-top: 96px;
//   padding-bottom: 96px;
// }
// .gallery__visual {
//   position: relative;
//   max-width: 286px;
//   height: 122px;
//   // margin: 0 auto;
//   margin-right: auto;
//   margin-left: auto;
// }

// .gallery__visual-img {
//   margin: 0 auto;
//   max-width: 100%;
//   height: auto;
//   border-radius: 8px;
// }


// /* ---- grid ---- */

// .grid {
//   // position: relative;
//   display: grid;
//   grid-template-columns: repeat(6, minmax(100px,1fr));
//   grid-gap: 3px;
//   grid-auto-rows: 0;
  
// }

// /* clearfix */
// .grid:after {
//   content: '';
//   display: block;
//   clear: both;
// }

// /* ---- grid-item ---- */

// .grid-item {
//   display: inline-block;
//     margin-bottom: 3px;
//   filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, .3));
//   width: 40px;
//   height: 40px;
  
  
//   transform: translate(0px, 120%);
//     opacity: 0;
//     transition: all 0.9s ease 0s;

//     &._active{
//     opacity: 1;
//     transform: translate(0px, 0px);
//     }
//   &:hover,
//   &:focus {
//     cursor: pointer;
//     filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, .3));
//   //   animation-name: swing;
//     transition: all 0.8s ease 0s;
//   // animation-duration: 1500ms;
//   transform: scale(1.4);
//   z-index: 1;
//   }
//     }
  

// .grid-item--box3 { 
//   width: 80px;
//   height: 80px;
//   &:hover,
//   &:focus {
//     cursor: pointer;
//     filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, .3));
//    transform: scale(1.2);
//   transition: all 0.8s ease 0s;
//   z-index: 1;
//   }
//   }
  
    
  
// @media screen and (max-width: 767px){
// .gallery .container{
//   width: 286px;
// }
// }
// @media screen and (min-width: 768px) {
//   .gallery {
//     padding-top: 140px;
//     padding-bottom: 120px;
//   }
//   .gallery__visual-img{
//     border-radius: 13px;
//   }
//   .gallery__visual {
//     height: 264px;
//     max-width: 620px;
//     // left: 0;
//   }
//   .grid-item {
//     filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, .3));
//     width: 84px;
//     height: 84px;
//       }
//     .grid-item--box3 { 
//     width: 170px; 
//     height: 170px;
//      }
// }
// @media screen and (min-width: 1280px) {
//   .grid { grid-gap: 6px;}

//   .gallery__visual-img{ border-radius: 20px; }
//   .gallery__visual {
//     height: 430px;
//     max-width: 1008px;
//   }
//   .grid-item {
//     margin-bottom: 10px;
//     width: 130px;
//     height: 130px;
//     }
   
// .grid-item--box3 { 
//   width: 280px;
//   height: 280px; 
//     }
 
// }




.gallery {
  position: relative;
  background: linear-gradient(to bottom, #fff5f6 65%, #ffffff 65%);
  padding-top: 96px;
    // .container{
  //   display: grid;
  // flex-flow: column wrap;
  // align-content: space-between;
  // }
}
.gallery__visual {
  position: relative;
  width: 286px;
  height: 122px;
  margin: 0 auto;
}

.gallery__visual-img {
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}


/* ---- grid ---- */

// .grid {
//   background:transparent;
//   max-width: 1200px;
// }

/* clearfix */
// .grid:after {
//   content: '';
//   display: block;
//   clear: both;
// }

/* ---- grid-item ---- */

.grid-item {
  width: 40px;
  height: 40px;
  // float: left;
  filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, .3));
  // transform: translate(0px, 120%);
    opacity: 0;
    // transition: all 0.9s ease 0s;

    // &._active{
    //    opacity: 1;
    // transform: translate(0px, 0px);
    
    // }
  &:hover,
  &:focus {
    cursor: pointer;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, .3));
   transform: scale(1.4);
  z-index: 1;
  }
    }
  ._anim-show{
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
  }
  ._anim-show ._active,
  ._active ._anim-show{
    opacity: 1;
    transform: translate(0px, 0px);
  }
  .gallery__visual-img{ border-radius: 8px; }

  .grid-item--box1,
  .grid-item--box2,
  .grid-item--box3,
  .grid-item--box4,
  .grid-item--box5,
  .grid-item--box6,
  .grid-item--box7,
  .grid-item--box8,
  .grid-item--box9,
  .grid-item--box10{
  transition: all 0.9s ease 0s;

&._active{
animation-name: fadeInUp;
animation-duration: 1000ms;
opacity: 1;
// transform: translate(0px, 0px);

}

  }

.grid-item--box1{
position: absolute;
top: 30%;
left: 0;
}
.grid-item--box2{position: absolute;
  top: 13%;
  left: 14.5%;
  &._active{
    animation-duration: 1100ms;
  }
  }

.grid-item--box3 { position: absolute;
  width: 80px;
  height: 80px;
top: 0; 
left: 29%;
&._active{
  animation-duration: 1250ms;
}

  &:hover,
  &:focus {
   
  transform: scale(1.2);
  
  }
}



.grid-item--box4 { position: absolute; 
top: 15.5%;
right: 28.538%;
&._active{
  animation-duration: 1220ms;
}
}
.grid-item--box5 { position: absolute;
top: 7%;
right: 14.12%;
&._active{
  animation-duration: 1320ms;
}
}

.grid-item--box6 {  position: absolute;
top: 31%;
right:0;
&._active{
  animation-duration: 1120ms;
}
}
.grid-item--box7 { position: absolute; bottom: 20%; left: 14.5%;
  &._active{
    animation-duration: 1520ms;
  }
    }
.grid-item--box8 { position: absolute; bottom: 1%; left: 29%;
  &._active{
    animation-duration: 1220ms;
  }
     }
.grid-item--box9 { position: absolute; bottom: 17.5%; right: 28.538%; 
  &._active{
    animation-duration: 1320ms;
  }
    }
.grid-item--box10 { position: absolute; bottom: 26%; right: 14.12%; 
  &._active{
    animation-duration: 1520ms;
  }
  }

@media screen and (max-width: 767px){
.gallery .container{
  width: 286px;
}
}
@media screen and (min-width: 768px) {
  .gallery {
    background: linear-gradient(to bottom, #fff5f6 55%, #ffffff 55%);
    padding-top: 140px;
    padding-bottom: 40px;
  }
  .gallery__visual {
    height: 264px;
    width: 620px;
    left: 0;
  }
  .grid-item {
    width: 84px;
    height: 84px;
    
  }
  .gallery__visual-img{ border-radius: 13px; }
  
  .grid-item--box3 { width: 170px; height: 170px;
 }
  .grid-item--box4 { top: 16%; right: 29%;}
  .grid-item--box5 { top: 8%; right: 14.4%;}
  
  .grid-item--box7 {  bottom: 21%;}
  .grid-item--box9 {  bottom: 18%; right: 29%; }
  .grid-item--box10 {  bottom: 26.5%; right: 14.4%;}
}
@media screen and (min-width: 1280px) {

  .gallery__visual {
    height: 430px;
    width: 1008px;
  }
  .gallery__visual-img{ border-radius: 20px; }
  .grid-item {
    width: 130px;
    height: 130px;
    }
 
 
  .grid-item--box2{
    top: 15%;
    }
  
  .grid-item--box3 { 
    width: 280px;
    height: 280px;  }
  .grid-item--box4 {  
  top: 17%;
  right: 28.4%;}
  .grid-item--box5 { 
  top: 8%;
  }
  
  .grid-item--box7 {  bottom: 21%; left: 14.5%;}
  .grid-item--box9 {  bottom: 19%;}
  .grid-item--box10 {  bottom: 28%;}
}