.gallery {
  position: relative;
  background: linear-gradient(to bottom, #fff5f6 65%, #ffffff 65%);
  padding-top: 96px;
 
}
.gallery__visual {
  position: relative;
  width: 286px;
  height: 122px;
  margin: 0 auto;
}

.gallery__visual-img {
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}


.grid-item {
  width: 40px;
  height: 40px;
  filter: drop-shadow(0px 5px 3px rgba(0, 0, 0, .3));
  opacity: 0;
  border: thick double rgba(255, 238, 240, 0.408);
  border-radius: 50%;
   
  &:hover,
  &:focus {
    // cursor: pointer;
  filter: drop-shadow(0px 6px 5px rgba(0, 0, 0, .3));
   transform: scale(1.4);
  z-index: 1;
  }
  }

  ._anim-show{
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
  }
  ._anim-show ._active,
  ._active ._anim-show{
    opacity: 1;
    transform: translate(0px, 0px);
  }
  .gallery__visual-img{ 
    border: none;
    border-radius: 50%; }

  .grid-item--box1,
  .grid-item--box2,
  .grid-item--box3,
  .grid-item--box4,
  .grid-item--box5,
  .grid-item--box6,
  .grid-item--box7,
  .grid-item--box8,
  .grid-item--box9,
  .grid-item--box10{
  transition: all 0.9s ease 0s;
  &:hover::after,
&:focus::after{
  content: "";
position: absolute;
border: none;
border-radius: 50%;
background-color: rgba(250, 145, 158, 0.367);
z-index: -1;
top: -20%; 
left: -20%;
height: 43px;
width: 43px;
animation-name: bounceIn;
animation-duration: 1500ms;
    }
  &._active{
animation-name: fadeInUp;
animation-duration: 1000ms;
opacity: 1;
// transform: translate(0px, 0px);
}
  }

.grid-item--box1{
position: absolute;
top: 35%;
left: 0;
}

.grid-item--box2{position: absolute;
  top: 13%;
  left: 13%;
    &._active{
    animation-duration: 1100ms;
  }
  }

.grid-item--box3 { position: absolute;
  width: 75px;
  height: 75px;
top: 0; 
left: 28%;
&:hover::after,
&:focus::after{
  width: 85px;
  height: 85px;
top: -15%; 
left: -15%;
}
&._active{
  animation-duration: 1250ms;
}
  &:hover,
  &:focus {
     transform: scale(1.2);
    }
}



.grid-item--box4 { position: absolute; 
top: 15.5%;
right: 28.7%;
&._active{
  animation-duration: 1220ms;
}
}
.grid-item--box5 { position: absolute;
top: 5%;
right: 14.3%;
&._active{
  animation-duration: 1320ms;
}
}

.grid-item--box6 {  position: absolute;
  width: 45px;
  height: 45px;
top: 25%;
right:0;
&:hover::after,
&:focus::after{
  width: 50px;
  height: 50px;
}
&._active{
  animation-duration: 1120ms;
}
}
.grid-item--box7 { position: absolute; bottom: 19%; left: 15%;
  &._active{
    animation-duration: 1520ms;
  }
    }
.grid-item--box8 { position: absolute; bottom: 0%; left: 32%;
  &._active{
    animation-duration: 1220ms;
  }
     }
.grid-item--box9 { position: absolute; bottom: 16%; right: 32%; 
  &._active{
    animation-duration: 1320ms;
  }
    }
.grid-item--box10 { position: absolute; bottom: 24%; right: 16%; 
  &._active{
    animation-duration: 1520ms;
  }
  }


@media screen and (min-width: 420px){
  .gallery__visual {
    height: 165px;
    width: 387px;
    left: 0;
  }
  .grid-item {
    width: 53px;
    height: 53px;
    }
    .grid-item--box1,
    .grid-item--box2,
    .grid-item--box3,
    .grid-item--box4,
    .grid-item--box5,
    .grid-item--box6,
    .grid-item--box7,
    .grid-item--box8,
    .grid-item--box9,
    .grid-item--box10{
      &:hover::after,
      &:focus::after{
      top: -23%; 
      left: -23%;
      height: 63px;
      width: 63px;
      }
  }
      
    .grid-item--box3 { width: 106px; height: 106px;
      &:hover::after,
      &:focus::after{
      top: -15%; 
    left: -15%;
    height: 126px;
    width: 126px;
        }
      }


}
@media screen and (min-width: 768px) {
  .gallery {
    background: linear-gradient(to bottom, #fff5f6 55%, #ffffff 55%);
    padding-top: 140px;
    padding-bottom: 40px;
  }
  .gallery__visual {
    height: 264px;
    width: 620px;
    left: 0;
  }
  .grid-item {
    width: 84px;
    height: 84px;
    }

  .grid-item--box1,
  .grid-item--box2,
  .grid-item--box3,
  .grid-item--box4,
  .grid-item--box5,
  .grid-item--box6,
  .grid-item--box7,
  .grid-item--box8,
  .grid-item--box9,
  .grid-item--box10{
    &:hover::after,
    &:focus::after{
    top: -12%; 
    left: -12%;
    height: 94px;
    width: 94px;
    
        }
}
    
  
  .grid-item--box3 { width: 170px; height: 170px;
    &:hover::after,
    &:focus::after{
      top: -9%; 
  left: -9%;
  height: 190px;
  width: 190px;
      }
    }
  

  .grid-item--box4 { height: 87px;
    width:87px;top: 16%; right: 29%;
    &:hover::after,
    &:focus::after{
    height: 97px;
  width: 97px;
      }}
  .grid-item--box5 { top: 8%; right: 14.4%;}
  
  .grid-item--box7 {  bottom: 21%;}
  .grid-item--box9 {  bottom: 18%; right: 29%; }
  .grid-item--box10 {  height: 90px;
    width: 90px; bottom: 24%; right: 13%;
    &:hover::after,
    &:focus::after{
     
  height: 100px;
  width: 100px;
      }}
}
@media screen and (min-width: 1280px) {

  .gallery__visual {
    height: 430px;
    width: 1008px;
  }
  
  .grid-item {
    width: 130px;
    height: 130px;
    
    }
    .grid-item--box1,
    .grid-item--box2,
    .grid-item--box3,
    .grid-item--box4,
    .grid-item--box5,
    .grid-item--box6,
    .grid-item--box7,
    .grid-item--box8,
    .grid-item--box9,
    .grid-item--box10{
      &:hover::after,
      &:focus::after{
      height: 150px;
      width: 150px;
      }
  }
    
  .grid-item--box2{
    top: 15%;
    width: 120px;
    height: 120px;
    &:hover::after,
    &:focus::after{
      top: -12%; 
      left: -12%;
       height: 135px;
  width: 135px;
      }
    }
  
  .grid-item--box3 { 
    width: 250px;
    height: 250px; 
    &:hover::after,
    &:focus::after{
      top: -6%; 
      left: -6%;
      height: 270px;
  width: 270px;
      }
  }
  .grid-item--box4 {  
  top: 17%;
  right: 28.4%;
  width: 140px;
  height: 140px;
  &:hover::after,
  &:focus::after{
    top: -10%; 
    left: -10%;
     height: 155px;
width: 155px;
    }
}
  .grid-item--box5 { 
  top: 8%;
  }
  
  .grid-item--box7 {  
    bottom: 21%; 
    left: 14.5%;
    width: 135px;
    height: 135px;
    &:hover::after,
    &:focus::after{
      top: -12%; 
      left: -12%;
       height: 155px;
  width: 155px;
      }}
  .grid-item--box9 {  
    bottom: 10%;
    right: 35%;
    width: 150px;
    height: 150px;
    &:hover::after,
    &:focus::after{
      top: -10%; 
      left: -10%;
       height: 170px;
  width: 170px;
      }}
  .grid-item--box10 {  bottom: 27%;}
}